:root {
  --title-color: #fbe134;
  --subtitle-color: #e4b61a;
  --text-color: #e9eaec;
  --primary-color: #0b0c0c;
  --secundary-color: #2a2e34;
}
body {
  background-color: var(--primary-color);
  color: #fbe134;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main{
  background-color: var(--secundary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85vh;
  width: 85%;
}

.input-box{
  display: flex;
  flex-direction: column;
}
